.header{
  background-color: #b3d4fc;
  color: white;
  text-align: center;
  vertical-align: middle;
  border: 10px solid #ffffff;


}









.home1{
  display: flex;
  background-color: blue;
}
.home{
  border: 10px solid #ffffff;
  height: 800px;
  width: 50%;
  text-align: center;
  color: white;
}
.about {
  border: 10px solid #ffffff;
  height: 800px;
  width: 50%;
  text-align: center;
  color: white;
}

.kabobs{
  border: 10px solid #ffffff;
  height: 300px;
  background-color: blue;
  text-align: center;
  color: white;
}
.block{
  display: flex;
  background-color: darkblue;
}
.bl{
  border: 10px solid #ffffff;
  height: 280px;
  width: 33.33%;
  text-align: center;
  color: white;
}

