.widgets{
  text-align: center;
  border: 10px solid #ffffff;
  height: 400px;
  background-color: blue;
}
.block{
  text-align: center;
  height: 350px;
  display: flex;
  width: 100%;
}
.widsm{
  border: 10px solid #ffffff;
  background-color: darkblue;
  width: 33.33%;
}
.contact{
  text-align: center;
  border: 10px solid #ffffff;
  background-color: blue;
  height: 600px;
}

